/* CSS Reset */
*{ margin:0;}

footer {
    color: #777777;
    background-color: #666666;
}
ol, ul {
    list-style: none;
}
li {
   float: left;
   display: block;
   padding: 14px;
   text-decoration: none;
}

/* new stuff I added */
body{
    background-color: #f9fafc;
}
.body{
    text-align: center;
    background-color: #f9fafc;
}
#headerbackground{
    background-color: white;
    position: relative;
    height: 100px;
    margin: 0;
}
#header {
    font-family: Georgia, "Times New Roman", Times, serif;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FFF;
    width: 60%;
    color:darkgrey;
}
#header li {
  float: right;
  color: grey;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
}
#header #name{
    background-color: #4BABA7;
    font-size:40px;
    color:white;
    float:left;
}
#standoutbackground{
    float: left;
    background-color: #dbdbdb;
    position: relative;
}
#aboutme{
    color:#4BABA7;
    font-size:30px;
    float:left;
    padding:20px 0 15px 25px;
}
#standout{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: inline-block;
    text-align: center;
    border-radius: 1px;
    margin: 20vh;
    width:60%;
    color: grey;
    background-color: white;
}
.bottomwrapper{
    float: left;
    position: fixed;
    bottom:0px;
    height: 70px;
    width: 100%;
}
#first{
    width: 100%;
    height: 10px;
    background-color: #4BABA7;
}
#second{
    height: 60px;
    width: 100%;
    background-color: grey;
}
